@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");
* {
  font-family: "Nanum Gothic", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.transition {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.iconvm {
  margin: 0px;
  padding: 0px;
  line-height: 1px;
  display: inline-block;
  transform: translateY(50%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.button {
  text-align: center;
  background: rgb(88, 101, 242);
  padding: 12px;
  border-radius: 9px;
  font-size: 1.1rem;
  margin-top: 8px;
  cursor: pointer;
  user-select: none;
  color: white;
}
