.posts {
  max-width: calc(100vw);
  min-height: 100vh;
  width: 100vw;
  display: table-cell;
}
.newPost > a > span {
  height: 2rem;
  color: white;
  vertical-align: middle;
}
.newPost {
  background-color: rgb(88, 101, 242);
  width: fit-content;
  height: 2rem;
  padding: 6px;
  border-radius: 1rem;
  position: fixed;
  z-index: 3;
  right: 1.5rem;
  bottom: 1.5rem;
  transition: ease 0.2s;
  user-select: none;
}
.newPost:hover {
  box-shadow: 0 8px 16px #00000055;
  cursor: pointer;
  transform: translateY(-1px);
}
.newPost:active {
  box-shadow: 5px 5px 5px #00000055;
  transform: translateY(1px);
}
